.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;

}

.content {
  flex: 1;
}


.container-fluid {
  margin-top: 50px; /* Ajusta esta altura para que coincida con la altura del navbar */
  padding: 1em;
  width: 65%;
  z-index: 1; /* Asegúrate de que el z-index esté correcto */
  position: relative; /* Asegura que el contenedor sea el contenedor de referencia para el posicionamiento absoluto */
}

app-navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px; /* Ajusta esta altura según la altura de tu navbar */
  z-index: 1000; /* Asegúrate de que el z-index esté correcto */
}

.fixed-img-size {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  max-width: 1200px; /* Máximo ancho que deseas para la imagen */
  height: 500px; /* Establece una altura fija */ /* Ajusta la imagen para que cubra todo el área sin distorsionarse */
  border-radius: 12px;
  object-fit: cover;
   /* Opcional: añade bordes redondeados */
 /* Opcional: añade un borde */
}

.save-btn {
  font-size: 0.8rem; /* Ajusta según sea necesario */; /* Ajusta según sea necesario */
  border: 1px solid black;
}
.horarios {
  display: flex;
  flex-direction: column;

}

.horario-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0; /* Ajusta el padding según tus necesidades */
  min-height: 50px;
  font-size: 1rem;
}

.horario-item .dia {
  flex: 1;

}

.current-day {
  font-weight: bold;
}

.horario-item .horas {
  flex: 1;
  text-align: right;
  font-size: 0.9rem;
}

.horario-item .horas p {
  margin: 0;
}
