<div class="wrapper">
  <app-navbar-fixed></app-navbar-fixed>
  <div class="content">
    <div class="container bg-light py-5 position-relative">
      <div *ngIf="business" class="row">
        <!-- Columna principal -->
        <div class="col-md-8">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>{{ business.name }}</h1>

          </div>
          <p class="mb-3"><b>Dirección: </b>{{ business.address }}</p>
          <img [src]="business.image" class="img-fluid fixed-img-size mb-4"/>
          <h5>Sobre el salón</h5>
          <p class="mt-4">{{ business.description }}</p>
          <h5>Donde esta el salón</h5>
          <div class="d-flex justify-content-left">
            <div id="map" style="width: 600px; height: 300px; border-radius: 12px;" class="mt-4"></div>
          </div>
        </div>
        <!-- Columna secundaria -->
        <div class="col-md-4">
          <div class="border p-3 rounded">
            <button class="btn btn-lg rounded-pill save-btn mb-3">
              <i class="la la-heart"></i> Guardar
            </button>
            <p class="mb-3 bg-light">¿Eres propietario de este salón? <a href="/reclamation">Reclámalo aquí</a></p>
            <h5>Horarios</h5>
            <ul class="list-unstyled">
              <li>{{business.hours_old}}</li>
            </ul>
            <h5>Detalles</h5>

            <p><i class="fas fa-phone"></i> <span> TEL: {{business.phone}}</span></p>
            <p><i class="fas fa-envelope"></i> Email {{business.email}}</p>
            <p><i class="fas fa-globe"></i>Web: {{business.url}}</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
