<div class="wrapper">
  <app-navbar-fixed></app-navbar-fixed>
  <div class="content">
    <div class="container-fluid py-5 position-relative bg-light">
      <div *ngIf="business" class="row">
        <!-- Título y dirección -->
        <div class="col-12 mb-3">
          <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mt-3">
            <h1 class="h3 mb-2">{{ business.name }}</h1>
            <p class="mb-3">{{ business.address }}</p>
          </div>
        </div>

        <!-- Columna de imagen y detalles principales -->
        <div class="col-lg-8 col-md-7 mb-4">
          <div *ngIf="images.length > 0; else noImagesTemplate">
            <!-- Carrusel con imágenes -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button *ngFor="let img of images; let i = index" type="button" [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i" [ngClass]="{'active': i === 0}" aria-current="true" [attr.aria-label]="'Slide ' + (i + 1)"></button>
              </div>
              <div class="carousel-inner">
                <div *ngFor="let img of images; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
                  <img [src]="img.file_url" class="d-block w-100 fixed-image-size" [alt]="img.file_description || 'Imagen del salón'" >
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>
          <ng-template #noImagesTemplate>
            <!-- Imagen principal del negocio si no hay imágenes cargadas -->
            <div class="no-images">
              <img [src]="business.image" class="d-block w-100 fixed-image-size" alt="Imagen principal del salón">
            </div>
          </ng-template>

          <!-- Descripción del negocio -->
          <h4 class="mt-5">Sobre el salón</h4>
          <p class="mt-4">
            {{ business.name }} es un salón ubicado en {{ business.address }}.
            Consulta su horario y pide tu cita hoy mismo en
            {{ business.address }}.
          </p>

          <!-- Servicios -->
          <div class="row d-flex mt-5">
            <div class="col">
              <h4 class="mb-3">Servicios</h4>
              <div *ngIf="services.length > 0">
                <ul class="list-group">
                  <li *ngFor="let service of services" class="list-group-item">
                    <h6>{{ service.service_name }}</h6>
                    <small class="text-muted">Tipos: {{ service.service_type_names }}</small>
                  </li>
                </ul>
              </div>
              <div *ngIf="services.length === 0">
                <p>No hay servicios disponibles.</p>
              </div>
            </div>
          </div>

          <!-- Opiniones -->
          <div class="row d-flex mt-5">
            <div class="col">
              <h4 class="mb-0">Opiniones</h4>
            </div>
            <div class="col-auto">
              <button *ngIf="authService.isAuthenticated(); else loginButton" class="btn bg-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#reviewModal" style="color: white">Escribir reseña</button>
              <ng-template #loginButton>
                <button class="btn bg-danger rounded-pill" style="color: white" (click)="openLoginModal()">Escribir reseña</button>
              </ng-template>
            </div>
          </div>

          <div *ngIf="reviews.length > 0">
            <ul class="list-unstyled">
              <li *ngFor="let review of reviews" class="card mb-3 mt-5">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <div class="star-rating">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <i class="star" [class.filled]="star <= review.qualification">&#9733;</i>
                      </ng-container>
                    </div>
                  </div>
                  <p class="mb-0">{{ review.observacion }}</p>
                  <div class="d-flex justify-content-end mt-2">
                    <button *ngIf="userType !== 'client' && userType !== 'salon'" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editReviewModal" (click)="editReview(review)">Modificar</button>
                    <button *ngIf="userType !== 'client' && userType !== 'salon'" class="btn btn-danger btn-sm" (click)="deleteReview(review.id_review)">Eliminar</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="reviews.length === 0">
            <p>No hay reseñas disponibles.</p>
          </div>

          <!-- Preguntas Frecuentes -->
          <div class="row d-flex align-items-center mt-5">
            <div class="col">
              <h4 class="mb-3">Preguntas Frecuentes</h4>
            </div>
            <div class="col-auto">
              <button *ngIf="authService.isAuthenticated(); else loginButtonFaq" class="btn bg-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#questionModal" style="color: white">Formular pregunta</button>
              <ng-template #loginButtonFaq>
                <button class="btn bg-danger rounded-pill" style="color: white" (click)="openLoginModal()">Formular pregunta</button>
              </ng-template>
            </div>
          </div>

          <div class="row d-flex">
            <div class="col">
              <div *ngIf="faqs.length > 0">
                <ul class="list-unstyled faq-list">
                  <li *ngFor="let faq of faqs" class="faq-item mt-5">
                    <div class="faq-question">
                      <strong>Cliente Mis Peluquerias</strong>
                      <span> {{ faq.question }}</span>
                    </div>
                    <div class="faq-answer">
                      <strong> Respuesta del Propietario: </strong>
                      <span> {{ faq.answer }}</span>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                      <button class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editQuestionModal" (click)="editQuestion(faq)" *ngIf="userType !== 'client' && userType !== 'salon'">Responder</button>
                      <button class="btn btn-danger btn-sm" *ngIf="userType !== 'client' && userType !== 'salon'" (click)="deleteQuestion(faq.id_faq)">Eliminar</button>
                    </div>
                  </li>
                </ul>
              </div>
              <div *ngIf="faqs.length === 0">
                <p>No hay preguntas disponibles.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Columna de información secundaria -->
        <div class="col-lg-4 col-md-5 border p-3 rounded">
          <a class="btn btn-lg btn-danger rounded-pill btn-custom me-5 w-100 mb-3" href="/reclamation">
            <i class="las la-hand-paper"></i> Reclamalo ahora
          </a>
          <div class="d-flex align-items-center mb-3">
            <span><i class="las la-phone"></i> {{ business.phone }}</span>
            <a href="tel:{{ business.phone }}" class="btn btn-outline-secondary ms-auto">Llamar</a>
          </div>
          <div class="mb-3">
            <div id="map" class="w-100" style="height: 335px; border: 0.1px solid #000; border-radius: 12px;"></div>
          </div>
          <div class="horarios mb-5">
            <div *ngFor="let hour of business.hours_old.split('; ')" class="horario-item">
              <div [ngClass]="{'current-day': hour.split(', ')[0] === currentDay}" class="dia">
                {{ hour.split(", ")[0] }}
              </div>
              <div class="horas">
                <p *ngFor="let time of hour.split(', ').slice(1)">{{ time }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
