.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.content {
  flex: 1;
}

*:not(i) {
  box-sizing: border-box;

  font-family: "Merriweather", system-ui;
  font-weight: 400;
  font-style: italic;
}

.container-fluid {
  margin-top: 50px; /* Ajusta esta altura para que coincida con la altura del navbar */
  padding: 1em;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho en pantallas pequeñas */
  max-width: 1600px; /* Controla el ancho máximo para pantallas grandes */
  z-index: 1;
  position: relative;
}

.faq-item p {
  word-wrap: break-word; /* Permite romper las palabras largas */
  overflow-wrap: break-word; /* Rompe palabras largas para que no se salgan del contenedor */
}

.faq-item {
  max-width: 100%; /* Asegura que el contenedor no se desborde */
}

.faq-list {
  width: 100%; /* Se asegura de que la lista ocupe todo el ancho disponible */
}

.rating-bars {
  margin-top: 20px;
}

.progress {
  background-color: #e9ecef;
  border-radius: 20px;
}

.progress-bar {
  background-color: #b71622;
  border-radius: 20px;
}

app-navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px; /* Ajusta esta altura según la altura de tu navbar */
  z-index: 1000;
}

.btn-custom{
  font-size:0.8rem;
}

.separator-line {
    width: 50%; /* Ajusta el ancho según lo necesites */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #eee; /* Cambia el color de la línea */
    margin: 0 auto; /* Centra la línea horizontalmente */
    display: block;
  }

  .btn-secondary {
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .btn-secondary:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .btn-danger{
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .btn-danger:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .circle-input-group {
    display: flex;
    gap: 5px; /* Espacio entre los círculos */
  }

  .circle-input-group input {
    display: none; /* Oculta los radio buttons */
  }

  .circle-label {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd; /* Borde gris */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }

  /* Estilo del círculo cuando está seleccionado */
  .circle-input-group input:checked + .circle-label {
    background-color:#b71622;
    border: 1px solid gray;
  }




.fixed-image-size {
  width: 95% !important;
  height: 400px; /* Fija la altura del carrusel según tus necesidades */
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.save-btn {
  font-size: 0.8rem;
  border: 1px solid black;
}

.horarios {
  display: flex;
  flex-direction: column;
}

.horario-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  min-height: 50px;
  font-size: 1rem;
}

.horario-item .dia {
  flex: 1;
}

.current-day {
  font-weight: bold;
}

.horario-item .horas {
  flex: 1;
  text-align: right;
  font-size: 0.9rem;
}

.horario-item .horas p {
  margin: 0;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  user-select: none;
}

.star-rating .star {
  font-size: 1.5rem;
  color: #ddd;
  transition: color 0.2s;
}

.star-rating .star.filled {
  color: #ffd700;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.0625rem solid #ddd;
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.card-body {
  padding: 1rem;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #6c757d;
  border: none;
  margin: 0 4px;
  transition: background-color 0.2s ease-in-out;
}



.carousel-indicators .active {
  background-color: #007bff;
  margin-right: 12px;
  margin-left: 12px;
}

.carousel-indicators button.custom-indicator:hover {
  background-color: #0056b3;
}

.btn-como-llegar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-como-llegar:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}

.btn-preview{
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
 background-color: rgba(0, 0, 0, 0.0);
}

.btn-next{
  color:#b71622;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
 background-color: rgba(0, 0, 0, 0.0);
}

.margin-left-puntuaciones{
  margin-left: 150px !important;
}

.text-area-pregunta{
  border: 1px solid black;
  outline: none;
}

.custom-img-height2 {
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom-img-height2:hover {
  transform: scale(1.05);

}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;

}

.open {
  background-color: green;
}

.closed {
  background-color: red;
}

button.custom-indicator.active {
  background-color: #b71622 !important;
}
button.p-link {
  background-color: #b71622 !important;
}

.search-faq-input{
  border: 1px solid black !important;
}
.search-faq-input:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 1542px) {
  .margin-left-puntuaciones{
    margin-left: 0px !important;
  }
}

@media (max-width: 576px) {
  .fixed-image-size {
    height: auto; /* Deja que la altura de la imagen se ajuste automáticamente */
    height: 200px; /* Limita la altura máxima de la imagen */
    width: 100% !important;
  }

  .margin-left-puntuaciones{
    margin-left: 0px !important;
  }

  .btn-lgn {
    font-size: 0.9rem !important; /* Aumenta el tamaño de la fuente para pantallas pequeñas */
}

.text-responsive{
  font-size: 0.9rem;
}
.circle-input-group{
  right: 20px !important;
  position: absolute;

}

 .input-group-container {
    flex-direction: column;
    align-items: stretch; /* Asegura que los elementos se estiren a lo largo del contenedor */
  }
  .search-container {
    margin-bottom: 10px; /* Agrega un espacio entre la búsqueda y el textarea */
    width: 50% !important; /* Hacer que el input de búsqueda ocupe todo el ancho */
    order: 1;
  }
  .text-area-pregunta {
    width: 100%;
    order: 2; /* Hacer que el textarea ocupe todo el ancho */
  }
  .custom-img-height2{
    width: 70% !important;
  }

  .btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  /* Ajustar el tamaño del ícono dentro del botón */
  .btn i {
    font-size: 0.875rem;
  }

  .text-area-pregunta{
    width: 100% !important;
  }



  @media (max-width: 1542px) {

  }

}
