<app-navbar-fixed></app-navbar-fixed>
<div class="container-fluid" style="background: rgba(0, 0, 0, .1) url(/assets/img/web/bg-salons/01.jpeg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 100%; height: 100%;">
  <div class="row">
    <div class="col-md-6 bg-white bg-opacity-75 py-5 px-4">
      <h1 class="fw-light text-danger">Reclama Tu Salón</h1>
      <p class="fw-light text-secondary">¿Tienes un salón de peluquería? Completa este formulario correctamente con tus datos y podrás disfrutar de las ventajas de MisPeluquerias.com</p>

      <form [formGroup]="reclamationForm" (ngSubmit)="onSubmit()">
        <h4 class="fs-4 fw-light mt-5">Datos del Negocio</h4>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="businessName" class="label small fw-light text-danger">Nombre del Negocio</label>
              <input type="text" class="form-control form-control-lg rounded-0" formControlName="businessName" id="businessName"  required>
              <!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('businessName').invalid && reclamationForm.get('businessName').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="row">
            <div class="form-group py-3">
              <label for="id_provincia" class="label small fw-light text-danger">Provincia</label>
              <select formControlName="id_province" id="id_provincia" class="form-select form-select-lg rounded-0"  required>
                <option value="">Seleccione una provincia</option>
                <!--
                <option *ngFor="let province of provinces" [value]="province.id_province">{{ province.name }}</option>
             --> </select> <!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('id_province').invalid && reclamationForm.get('id_province').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="row">
            <div class="form-group py-3">
              <label for="id_city" class="label small fw-light text-danger">Localidad</label>
              <select formControlName="id_city" id="id_city" class="form-select form-select-lg rounded-0"  required>
                <option value="">Seleccione una localidad</option>
                <!--
                <option *ngFor="let city of cities" [value]="city.id_city">{{ city.name }}</option>
              --></select><!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('id_city').invalid && reclamationForm.get('id_city').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="businessAddress" class="label small fw-light text-danger">Dirección Completa</label>
              <input type="text" class="form-control form-control-lg rounded-0" formControlName="businessAddress" id="businessAddress"  required> <!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('businessAddress').invalid && reclamationForm.get('businessAddress').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="col-md-12">
            <small>* Podrá modificar los datos de su salón una vez que esté verificado</small>
          </div>

          <h4 class="fs-4 fw-light mt-5 text-muted">Datos de contacto</h4>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="contactName" class="label small fw-light text-danger">Nombre</label>
              <input type="text" class="form-control form-control-lg rounded-0" formControlName="contactName" id="contactName" required> <!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('contactName').invalid && reclamationForm.get('contactName').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="contactLastname" class="label small fw-light text-danger">Apellidos</label>
              <input type="text" class="form-control form-control-lg rounded-0" formControlName="contactLastname" id="contactLastname" required>
              <!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('contactLastname').invalid && reclamationForm.get('contactLastname').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group py-3">
              <label for="contactPhone" class="label small fw-light text-danger">Teléfono</label>
              <input type="text" maxlength="9" pattern="[0-9]{9}" class="form-control form-control-lg rounded-0" formControlName="contactPhone" id="contactPhone" required><!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('contactPhone').invalid && reclamationForm.get('contactPhone').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group py-3">
              <label for="contactMail" class="label small fw-light text-danger">Correo Electrónico</label>
              <input type="email" class="form-control form-control-lg rounded-0" formControlName="contactMail" id="contactMail" required>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group py-3">
              <label for="dni" class="label small fw-light text-danger">DNI</label>
              <input type="text" class="form-control form-control-lg rounded-0" formControlName="dni" id="dni" required> <!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('dni').invalid && reclamationForm.get('dni').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="contactMessagge" class="label small fw-light text-danger">Mensaje</label>
              <textarea class="form-control form-control-lg rounded-0" formControlName="contactMessagge" id="contactMessagge" rows="5" required style="resize: none;"></textarea> <!--
              <p class="text-danger fw-bold" *ngIf="reclamationForm.get('contactMessagge').invalid && reclamationForm.get('contactMessagge').touched">Campo obligatorio</p>
              -->
            </div>
          </div>

          <div class="col-md-12" id="files">
            <div class="form-group py-3">
              <label for="dni_delante">DNI por delante</label>
              <input type="file" class="form-control file" formControlName="dni_delante" id="dni_delante" (change)="checkFiles()" required />
            </div>

            <div class="form-group py-3 mb-2">
              <label for="dni_detras">DNI por detrás</label>
              <input type="file" class="form-control file" formControlName="dni_detras" id="dni_detras" (change)="checkFiles()" required />
            </div>

            <div class="form-group py-3">
              <input type="file" class="form-control file" formControlName="files" id="files" multiple (change)="checkFiles()" required />
            </div>

            <div class="col-md-12">
              <p class="mt-1 small">Adjúntanos algún documento que demuestre que eres el propietario (copia del recibo de autónomos, datos de la empresa si es una sociedad, etc.)</p>
              <p class="mt-1 small text-danger"><strong>Archivos Permitidos: png | jpg | jpeg | pdf</strong></p>
            </div>
          </div>

          <div class="col-md-12 my-5 d-flex justify-content-between">
            <div class="col-md-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="terms" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Aceptar <a class="text-danger" href="/terminos-y-condiciones" target="_blank"> Términos y Condiciones</a>
                </label>
                <div class="invalid-feedback">
                  Debes Aceptar nuestros Términos y Condiciones.
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-sm btn-danger rounded-pill px-5">Enviar</button>
          </div>
        </div>
      </form>

      <div *ngIf="successMessage" class="col-12 alert alert-success text-center mx-auto">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="col-12 alert alert-danger text-center mx-auto">{{ errorMessage }}</div>
    </div>
  </div>
</div>
<app-footer></app-footer>
