<app-navbar-fixed></app-navbar-fixed>
<div
  class="container-fluid"
  style="
    background: rgba(0, 0, 0, 0.1) url(/assets/img/web/bg-salons/01.jpeg)
      no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
  "
>
  <div class="row">
    <div class="col-md-6 bg-white bg-opacity-75 py-5 px-4">
      <h1 class="fw-light text-danger">Reclama Tu Salón</h1>
      <p class="fw-light text-secondary">
        ¿Tienes un salón de peluquería? Completa este formulario correctamente
        con tus datos y podrás disfrutar de las ventajas de MisPeluquerias.com
      </p>

      <p class="fw-light text-secondary">
        * Si tu negocio no aparece en la lista, ponte en contacto con nosotros <a class="fw-light text-secondary" routerLink="/profesionales">aquí</a>
      </p>

      <form (ngSubmit)="addReclamation()" #reclamationForm="ngForm">
        <h4 class="fs-4 fw-light mt-5">Datos del Negocio</h4>

        <div class="row">
          <div class="col-md-12">
            <div class="input-container" style="position: relative;">
              <input
                type="text"
                id="salonInput"
                class="form-control form-control-lg border-bottom-only"
                placeholder="Buscar salones"
                (input)="onInputSalon($event)"
                name="salon_name"
                [(ngModel)]="salon_name"
                autocomplete="off"
              />
              <div *ngIf="salons.length > 0" class="results-list">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let salon of salons" (click)="onSelectSalon(salon)">
                    <i class="la la-home"></i> {{ salon.name }}
                  </li>
                </ul>
              </div>
              <div
                *ngIf="reclamationForm.submitted && !salon_name"
                class="text-danger"
              >
                El nombre del negocio es obligatorio.
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Select de Provincia -->
            <div class="col-md-12 form-group py-3">
              <label for="id_province" class="form-label">Provincia</label>
              <select
                class="form-select"
                id="id_province"
                name="id_province"
                [(ngModel)]="id_province"
                (change)="onProvinceChange($any($event.target).value)"
                required
              >
                <option value="">Seleccione una provincia...</option>
                <option
                  *ngFor="let province of provinces"
                  [value]="province.id_province"
                >
                  {{ province.name }}
                </option>
              </select>
              <div
                *ngIf="reclamationForm.submitted && !id_province"
                class="text-danger"
              >
                La provincia es obligatoria.
              </div>
            </div>

            <!-- Select de Ciudad -->
            <div class="col-md-12 form-group py-3">
              <label for="id_city" class="form-label">Población - C.P.</label>
              <select
                class="form-select"
                id="id_city"
                name="id_city"
                [(ngModel)]="id_city"
                required
              >
                <option value="">Seleccione una ciudad...</option>
                <option *ngFor="let city of cities" [value]="city.id_city">
                  {{ city.city_name }} - {{ city.zip_code }}
                </option>
              </select>
              <div
                *ngIf="reclamationForm.submitted && !id_city"
                class="text-danger"
              >
                La ciudad es obligatoria.
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="address" class="label small fw-light text-danger">Dirección Completa</label>
              <input
                type="text"
                class="form-control form-control-lg rounded-0"
                id="address"
                name="address"
                readonly
              />
            </div>
          </div>

          <div class="col-md-12">
            <small
              >* Podrás modificar los datos de tu negocio una vez que esté
              verificado</small
            >
          </div>

          <h4 class="fs-4 fw-light mt-5 text-muted">Datos de contacto</h4>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="name" class="label small fw-light text-danger"
                >Nombre</label
              >
              <input
                type="text"
                class="form-control form-control-lg rounded-0"
                id="name"
                name="name"
                [(ngModel)]="userData.name"
                readonly
              />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label
                for="lastname"
                class="label small fw-light text-danger"
                >Apellidos</label
              >
              <input
                type="text"
                class="form-control form-control-lg rounded-0"
                id="lastname"
                name="lastname"
                [(ngModel)]="userData.lastname"
                readonly
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group py-3">
              <label for="phone" class="label small fw-light text-danger"
                >Teléfono</label
              >
              <input
                type="text"
                maxlength="9"
                pattern="[0-9]{9}"
                class="form-control form-control-lg rounded-0"
                id="phone"
                name="phone"
                [(ngModel)]="userData.phone"
                readonly
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group py-3">
              <label for="contactMail" class="label small fw-light text-danger"
                >Correo Electrónico</label
              >
              <input
                type="email"
                class="form-control form-control-lg rounded-0"
                id="contactMail"
                name="email"
                [(ngModel)]="userData.email"
                readonly
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group py-3">
              <label for="dni" class="label small fw-light text-danger"
                >DNI</label
              >
              <input
                type="text"
                class="form-control form-control-lg rounded-0"
                id="dni"
                name="dni"
                [(ngModel)]="userData.dni"
                readonly
              />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group py-3">
              <label for="observation" class="label small fw-light text-danger"
                >Mensaje</label
              >
              <textarea
                class="form-control form-control-lg rounded-0"
                id="observation"
                name="observation"
                [(ngModel)]="observation"
                rows="5"
                required
                style="resize: none"
              ></textarea>
            </div>
          </div>

          <div class="col-md-12" id="files">
            <div class="form-group py-3">
              <label for="dnifront_path">DNI anverso</label>
              <input type="file" class="form-control file" id="dnifront_path" name="dnifront_path" (change)="onFileSelected($event, 'dniFrontFile')" required>
              <div *ngIf="reclamationForm.submitted && !dniFrontFile" class="text-danger">
                El archivo del DNI por delante es obligatorio.
              </div>
            </div>

            <div class="form-group py-3 mb-2">
              <label for="dniback_path">DNI reverso</label>
              <input type="file" class="form-control file" id="dniback_path" name="dniback_path" (change)="onFileSelected($event, 'dniBackFile')" required>
              <div *ngIf="reclamationForm.submitted && !dniBackFile" class="text-danger">
                El archivo del DNI por detrás es obligatorio.
              </div>
            </div>

            <div class="form-group py-3">
              <label for="d">Documentación</label>
              <input type="file" class="form-control file" id="file_path" name="file_path" (change)="onFileSelected($event, 'otherFile')" required>
              <div *ngIf="reclamationForm.submitted && !otherFile" class="text-danger">
                El archivo adicional es obligatorio.
              </div>
              <div *ngIf="reclamationForm.submitted && fileError" class="text-danger">
                {{ fileError }}
              </div>
            </div>

            <div class="col-md-12">

              <p class="mt-1 small">
                Adjunta algún documento que demuestre que eres el propietario
                (copia del recibo de autónomos, modelo 036, tarjeta de identificación fiscal de tu empresa, etc.)
              </p>
            </div>


            <div class="col-md-12">
              <label for="invoice_path">Facturas</label>
              <input type="file" class="form-control file" id="invoice_path" name="invoice_path" (change)="onFileSelected($event, 'invoiceFile')" required>
              <div *ngIf="reclamationForm.submitted && !invoiceFile" class="text-danger">
                Es obligatorio adjuntar la factura de algún suministro de tu negocio (Luz,Agua,Teléfono...)
              </div>
              <div *ngIf="reclamationForm.submitted && !invoiceFile" class="text-danger">
                La factura es obligatoria.
              </div>
              <p class="mt-1 small">
                Adjunta la factura de algún suministro de tu negocio (Luz,Agua,Teléfono...)
              </p>
              <p class="mt-1 small text-danger">
                <strong>Archivos Permitidos: png | jpg | jpeg | pdf</strong>
              </p>
              </div>
            </div>



          <div class="col-md-12 my-5 d-flex justify-content-between">
            <div class="col-md-6">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="terms"
                  name="terms"
                  [(ngModel)]="terms"
                  required
                />
                <label class="form-check-label" for="terms">
                  Aceptar
                  <a
                    class="text-danger"
                    href="/terminos-y-condiciones"
                    target="_blank"
                  >
                    Términos y Condiciones</a
                  >
                </label>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-sm btn-danger rounded-pill px-5"
              [disabled]="!terms || !dniFrontFile || !dniBackFile|| !otherFile || !invoiceFile"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
