<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ms-5">
    <a class="navbar-brand" href="#">
      <!--<img src="../../../../assets/img/web/logo-mis-peluquerias.svg" alt="Logo" width="300" height="340" class="d-inline-block align-text-top mt-n5">-->
      <video class="bg-video" id="navVideo" src="../../../../assets/video/nav_video.mp4" autoplay muted loop></video>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const video = document.getElementById('navVideo');

    // Asegurar que el video se inicie
    video.play().catch(error => {
      console.error('Error al intentar reproducir el video:', error);
    });

    // Verificar el estado del video y reiniciar si está pausado
    video.addEventListener('pause', () => {
      video.play().catch(error => {
        console.error('Error al intentar reproducir el video:', error);
      });
    });
  });
</script>
