<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ms-5">
    <a class="navbar-brand" href="#">
      <video class="bg-video" id="navVideo" [autoplay]="true" [loop]="true" [muted]="true" [playsInline]="true">
        <source src="../../../../assets/video/nav_video.mp4" type="video/mp4">

      </video>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

