* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 85px;
  border-bottom: 0.5px solid black;
}

.border-bottom-only {
  border: none;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 1rem;
  border-radius: 15px;
}

.input-service-icon {
  padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
  background: url('data:image/svg+xml;utf8,<svg fill="%23888" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zm-5.742 1.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/></svg>')
    no-repeat 10px center;
  background-size: 22px; /* Tamaño del icono */
}

.input-salon-icon {
  padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
  background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 25 1 L 1 25 L 4 25 L 4 49 L 20 49 L 20 34 L 30 34 L 30 49 L 46 49 L 46 25 L 49 25 Z M 20 20 A 5 5 0 0 1 30 20 L 30 14 L 20 14 Z"></path></svg>')
    no-repeat 10px center;
  background-size: 22px; /* Tamaño del icono */
}

.input-location-icon {
  padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
  background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/></svg>')
    no-repeat 10px center;
  background-size: 24px; /* Tamaño del icono */
}

.bg-body-tertiary {
  background-color: #000 !important;
}

.btn-outline-secondary {
  display: flex;
  align-items: center;

  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem !important;
}

.btn-outline-secondary:hover {
  transform: scale(1.1);
  color: #000;
}
i{
  padding-right: 5px;
  color:#000;
}
i:hover{
  color: #000;
  padding-right: 12px;
}

.custom-card-height {
  height: 150px;
  border-style: none !important;
}

.custom-img-height {
  height: 150px;
  object-fit: cover;
  border-style: none !important;
}

.results-list {
  position: absolute;
  top: 100%; /* Ajusta según sea necesario */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px; /* Ajusta según sea necesario */
  overflow-y: auto;
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.results-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-list li {
  padding: 10px;
  cursor: pointer;
}

.results-list li:hover {
  background-color: #f0f0f0;
}

.results-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 300px; /* Aumenta la altura máxima si es necesario */
  overflow-y: auto;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hover-list-grey:hover {
  background-color:grey !important;
}

.results-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-list li {
  padding: 10px;
  cursor: pointer;
}

.results-list li:hover {
  background-color: #f0f0f0;
}

//lista doble

.results-list-double {
  position: absolute;
  top: 100%;
  left: -50%;
  width: 250%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 576px) {
  img {
    width: 220px !important;
      margin-left: 0 !important;
  }

  nav {
    height: auto; /* Ajusta la altura en móviles */
    width: 100%;

  }

  .input-service-icon {
    padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zm-5.742 1.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/></svg>')
      no-repeat 10px center;
    background-size: 22px; /* Tamaño del icono */
  }

  .input-salon-icon {
    padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 25 1 L 1 25 L 4 25 L 4 49 L 20 49 L 20 34 L 30 34 L 30 49 L 46 49 L 46 25 L 49 25 Z M 20 20 A 5 5 0 0 1 30 20 L 30 14 L 20 14 Z"></path></svg>')
      no-repeat 10px center;
    background-size: 22px; /* Tamaño del icono */
  }

  .input-location-icon {
    padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/></svg>')
      no-repeat 10px center;
    background-size: 24px; /* Tamaño del icono */
  }

  .loginMTR {
    top: -4.3rem !important;
    right: 1.8rem;
  }

  .ulMTR {
    margin-top: -12px !important;
  }

  .navbar-brand img {
    width: 150px; /* Reduce el tamaño del logo */
    margin: 0 auto; /* Centra el logo */
    display: block;
  }

  /* El formulario de búsqueda debe ocupar todo el ancho disponible */
  form.d-flex {
    flex: 1 1 100%;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 15px;
  }

  /* Asegura que el botón de búsqueda esté alineado correctamente */
  .btn-group {
    margin-top: 10px; /* Agrega espacio entre el formulario de búsqueda y los botones */
    margin-left: 0;
  }

  /* Asegura que los inputs se alineen verticalmente */
  .row.g-2 {
    flex-direction: column;
    align-items: stretch;
  }

  /* Reduce el margen superior de los elementos de entrada en móviles */
  .form-control.mt-4 {
    margin-top: 10px;
  }
}

@media (min-width: 576px) and (max-width: 1400px) {
  nav {
    height: auto; /* Ajusta la altura en móviles */
    width: 100%;
  }
}
