* {
  box-sizing: border-box;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
select,
textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #b91622;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-bottom: 2px solid #ff4d4d;
  outline: none;
  box-shadow: none;
}

/* Aplica estilos generales al campo select */
select {
  height: auto;
  max-height: 35px; /* Altura cuando está cerrado */
  overflow-y: auto;
}

select option {
  max-height: 150px; /* Máxima altura visible */
  overflow-y: auto;
}

