* {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Tamaño de fuente base */
}
.favorite-btn {
  position: absolute;
  top: 10px; /* Ajusta según lo necesario */
  right: 10px; /* Ajusta según lo necesario */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  border: none;
  width: 40px; /* Asegúrate de que el ancho y alto sean iguales */
  height: 40px; /* Asegúrate de que el ancho y alto sean iguales */
  padding: 0;
  border-radius: 50%; /* Esto hace que sea un círculo perfecto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.favorite-btn i {
  color: red;
  font-size: 1.5rem;
}

.favorite-btn:hover {
  background-color: rgba(255, 0, 0, 0.8);
  transform: scale(1.1);
}

.favorite-btn:focus {
  outline: none; /* Elimina el contorno al hacer clic */
}



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6.25rem; /* Ajusta esto según la altura de tu navbar (100px en rem) */
}

#results {
  padding: 1.25rem; /* 20px en rem */
  background-color: #f9f9f9;
  border-radius: 0.75rem; /* 12px en rem */
  margin-bottom: 1.25rem; /* 20px en rem */
}

.map-frame {
  width: 100%;
  height: 74vh; /* Ajusta la altura según sea necesario */
  position: relative;
  margin-bottom: 1.25rem; /* 20px en rem */
  z-index: 1;
}

.selected {
  border: 0.125rem solid #007bff; /* 2px en rem */
  box-shadow: 0 0 0.625rem rgba(0, 123, 255, 0.5); /* 10px en rem */
}

#registered-map {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem; /* 12px en rem */
  background-color: #f0f0f0;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1rem solid #f3f3f3; /* 16px en rem */
  border-top: 1rem solid #3498db; /* 16px en rem */
  border-radius: 50%;
  width: 7.5rem; /* 120px en rem */
  height: 7.5rem; /* 120px en rem */
  animation: spin 2s linear infinite, fadeIn 0.5s ease-in-out;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.map-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}



.map-cover.fade-out {
  opacity: 0;
}

.map-blur {
  filter: blur(0.3125rem); /* 5px en rem */
  transition: filter 0.5s ease-in-out;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px en rem */
}

.card {
  flex: 1 1 calc(33.333% - 1.25rem); /* Tres tarjetas por fila en pantallas grandes */
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  max-width: calc(33.333% - 1.25rem);
}


.card:nth-last-child(1):nth-child(3n + 1) {
  flex: 1 1 calc(33.333% - 1.25rem); /* Si hay una tarjeta en una fila, ocupa el mismo ancho máximo */
}

.card-image {
  width: 100%;
  height: 8vw;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción */
}

.card-body {
  padding: 0.1rem !important; /* 2px en rem */

}

.card-title {
  font-size: 1rem; /* Tamaño de fuente ajustado */
  margin-bottom: 0.3125rem; /* 5px en rem */
}

.card-text {
  font-size: 0.9rem; /* Tamaño de fuente ajustado */
  color: #555;
}

.card-status {
  font-size: 0.75rem; /* Tamaño de fuente ajustado */
  color: green;
  margin-bottom: -0.25rem; /* Espaciado relativo */
}

.card-status.closed {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.9375rem; /* 15px en rem */
}

.pagination-info {
  font-weight: bold;
  margin: 0 0.625rem; /* 10px en rem */
}

.pagination button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 0.75rem; /* 12px en rem */
  padding: 0.3125rem 0.625rem; /* 5px 10px en rem */
  margin: 0 0.3125rem; /* 5px en rem */
  cursor: pointer;
  font-size: 0.875rem; /* Tamaño de fuente ajustado */
}

.pagination button:hover {
  background-color: darkred;
}

.card.selected {
  border: 0.0625rem solid red; /* 1px en rem */
  box-shadow: 0 0.625rem rgba(255, 0, 0, 0.5); /* 10px en rem */
}

app-footer {
  margin-top: 13.75rem; /* 220px en rem */
}

.star-rating .star {
  font-size: 1.5rem;
  color: #ddd; /* Color de estrellas no seleccionadas */
}

.star-rating .star.filled {
  color: #FFD700; /* Color de estrellas seleccionadas */
}

.info-link {
  position: absolute;
  bottom: 10px; /* Posiciona el enlace en la parte inferior de la imagen */
  right: 10px; /* Separación del borde derecho */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor legibilidad */
  color: white; /* Color del texto */
  padding: 5px 10px; /* Padding alrededor del texto */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Elimina el subrayado del enlace */
  font-size: 14px; /* Tamaño de fuente */
  z-index: 10; /* Asegura que el enlace esté sobre la imagen */
  display: block; /* Asegura que se muestre como un bloque */
}

.info-link:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro en hover */
}

@media (max-width: 576px) {
  .card {
    flex: 1 1 100%; /* Una tarjeta por fila en pantallas pequeñas */
    max-width: 100%;
  }

  .card-image {
    height: 25vh;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  .favorite-btn {
    position: absolute;
    top: 10px; /* Ajusta según lo necesario */
    right: 10px; /* Ajusta según lo necesario */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    border: none;
    width: 40px; /* Asegúrate de que el ancho y alto sean iguales */
    height: 40px; /* Asegúrate de que el ancho y alto sean iguales */
    padding: 0;
    border-radius: 50%; /* Esto hace que sea un círculo perfecto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .favorite-btn i {
    color: red;
    font-size: 1.5rem;
  }
  
  .favorite-btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
    transform: scale(1.1);
  }
  
  .favorite-btn:focus {
    outline: none; /* Elimina el contorno al hacer clic */
  }
}
