<div>
  <div class="modal-header">
    <h5 class="modal-title">Sesión Expirada</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body text-center">
    <div class="text-center mb-3">
      <img src="../../../assets/img/web/sello.jpg" width="120" alt="logo-mis-peluquerias" />
    </div>
    <p><i class="fa-solid fa-shield-halved"></i> Sesión expirada, por favor inicia sesión de nuevo</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Aceptar</button>
  </div>
</div>
