* {
  box-sizing: border-box;
}

.border-bottom-only {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-size: 1rem;
}

.custom-card-height {
  height: 150px;
  border-style: none !important;
}

.custom-img-height {
  height: 150px;
  object-fit: cover;
  border-style: none !important;
}

.results-list {
  position: absolute;
  top: 100%; /* Ajusta según sea necesario */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 500px; /* Ajusta según sea necesario */
  overflow-y: auto;
  z-index: 1100; /* Asegúrate de que esté encima de otros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0; /* Color de fondo adicional */
}

.results-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-list li {
  padding: 10px;
  cursor: pointer;
}

.results-list li:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

.results-list-double {
  position: absolute;
  top: 100%; /* Justo debajo del input */
  left: -50%;
  width: 250%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  max-height: 300px; /* Ajusta según sea necesario */
  overflow-y: auto;
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Ajustes generales para todos los tamaños de pantalla */
nav {
  z-index: 1;
}

/* Ajustes específicos para pantallas móviles */
@media (max-width: 576px) {
  nav {
    height: 40vh; /* Mantén la altura al 40% del viewport */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    padding-top: 1rem; /* Añadir un pequeño padding en la parte superior */
  }

  .container {
    transform: scale(0.7); /* Escala el contenido para ajustarse al tamaño */
    margin-top: -8rem; /* Subir el contenido un poco más */
  }

  .container img {
    max-width: 200px; /* Tamaño del logo en móviles */
    margin-top: 1rem;
  }

  h1 {
    font-size: 1rem; /* Tamaño del título en móviles */
    margin-bottom: -0.2rem; /* Reducir el margen inferior */
  }

  p.lead {
    font-size: 0.7rem; /* Tamaño del subtítulo en móviles */
    margin-bottom: -1.2rem; /* Reducir el margen inferior */
  }

  button.btn {
    font-size: 0.7rem; /* Tamaño del botón en móviles */
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    margin-bottom: -1rem; /* Reducir margen inferior */
  }

  .btnLogin {
    font-size: 0.7rem; /* Tamaño del botón en móviles */
    padding: 0.25rem 0.5rem;
    margin-top: -0.7rem !important;
    margin-bottom: 0.1rem; /* Reducir margen inferior */
  }

  input.form-control {
    font-size: 0.7rem; /* Tamaño del texto en los inputs en móviles */
    padding: 0.3rem; /* Reducir padding interno de los inputs en móviles */
  }

  .tResponsive {
    margin-top: -1rem !important;
    font-size: 0.6rem;
  }
}
