<div class="wrapper">
  <app-navbar-fixed></app-navbar-fixed>
  <div class="content">
    <div
      class="container"
      style="
        background: rgba(0, 0, 0, 0.1) url(/assets/img/web/bg-salons/01.jpeg)
          no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
      "
    >
      <div class="row">
        <div class="col-md-6 bg-white bg-opacity-75 py-5 px-4">
          <h1 class="fw-light text-danger">Contacto para profesionales</h1>
          <p class="fw-light text-secondary">
            ¿Tienes alguna Pregunta? Contacta con Nosotros
          </p>

          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSubmit()"
            id="form-contact"
            class="contact"
          >
            <div class="row">
              <h4 class="fs-4 fw-light mt-5">Datos del Contacto</h4>
              <!--NAME AND SURNAME-->
              <div class="col-md-12">
                <div class="form-group py-3">
                  <label for="nameProfessional" class="label small text-danger"
                    >Nombres y Apellidos</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg rounded-0"
                    formControlName="name"
                    id="nameProfessional"
                    required
                  />
                  <div
                    *ngIf="
                      contactForm.get('name')?.invalid &&
                      (contactForm.get('name')?.dirty ||
                        contactForm.get('name')?.touched)
                    "
                    class="text-danger"
                  >
                    <small *ngIf="contactForm.get('name')?.errors?.['required']"
                      >El nombre es obligatorio.</small
                    >
                  </div>
                </div>
              </div>

              <!--PHONE-->
              <div class="col-md-6">
                <div class="form-group py-3">
                  <label for="phoneProfessional" class="label small text-danger"
                    >Teléfono</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg rounded-0"
                    formControlName="phone"
                    id="phoneProfessional"
                    maxlength="9"
                    pattern="[0-9]{9}"
                    required
                  />
                  <div
                    *ngIf="
                      contactForm.get('phone')?.invalid &&
                      (contactForm.get('phone')?.dirty ||
                        contactForm.get('phone')?.touched)
                    "
                    class="text-danger"
                  >
                    <small *ngIf="contactForm.get('phone')?.errors?.['pattern']"
                      >Debe ser un número de teléfono válido (9 dígitos).</small
                    >
                    <small
                      *ngIf="contactForm.get('phone')?.errors?.['required']"
                      >El teléfono es obligatorio.</small
                    >
                  </div>
                </div>
              </div>

              <!--EMAIL-->
              <div class="col-md-6">
                <div class="form-group py-3">
                  <label for="mailProfessional" class="label small text-danger"
                    >Correo Electrónico</label
                  >
                  <input
                    type="email"
                    class="form-control form-control-lg rounded-0"
                    formControlName="email"
                    id="mailProfessional"
                    required
                  />
                  <div
                    *ngIf="
                      contactForm.get('email')?.invalid &&
                      (contactForm.get('email')?.dirty ||
                        contactForm.get('email')?.touched)
                    "
                    class="text-danger"
                  >
                    <small
                      *ngIf="contactForm.get('email')?.errors?.['required']"
                      >El correo electrónico es obligatorio.</small
                    >
                    <small *ngIf="contactForm.get('email')?.errors?.['email']"
                      >Debe ser un correo electrónico válido.</small
                    >
                  </div>
                </div>
              </div>

              <!--MESSAGE-->
              <div class="col-md-12">
                <div class="form-group py-3">
                  <label
                    for="messageProfessional"
                    class="label small text-danger"
                    >Mensaje</label
                  >
                  <textarea
                    class="form-control form-control-lg rounded-0"
                    formControlName="msg"
                    id="messageProfessional"
                    rows="5"
                    maxlength="1000"
                    required
                    style="resize: none"
                  ></textarea>
                  <div
                    *ngIf="
                      contactForm.get('msg')?.invalid &&
                      (contactForm.get('msg')?.dirty ||
                        contactForm.get('msg')?.touched)
                    "
                    class="text-danger"
                  >
                    <small *ngIf="contactForm.get('msg')?.errors?.['required']"
                      >El mensaje es obligatorio.</small
                    >
                    <small *ngIf="contactForm.get('msg')?.errors?.['maxlength']"
                      >El mensaje no puede exceder los 1000 caracteres.</small
                    >
                  </div>
                </div>
              </div>

              <h4 class="fs-4 fw-light mt-5">Datos del Negocio</h4>
              <div class="col-md-12">
                <div class="form-group py-3">
                  <label
                    for="salon_name"
                    class="label small text-dark"
                    >Nombre del negocio</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg rounded-0"
                    formControlName="salon_name"
                    id="salon_name"
                    maxlength="500"

                  />
                </div>
              </div>

              <div class="row">
                <!-- Select de Provincia -->
                <!-- Select de Provincia -->
                <div class="col-md-12 form-group py-3">
                  <label for="id_province" class="form-label">Provincia</label>
                  <select
                    class="form-select"
                    id="id_province"
                    formControlName="id_province"
                    (change)="onProvinceChange($any($event.target).value)"

                  >
                    <option value="">Seleccione una provincia...</option>
                    <option
                      *ngFor="let province of provinces"
                      [value]="province.id_province"
                    >
                      {{ province.name }}
                    </option>
                  </select>
                </div>

                <!-- Select de Ciudad -->
                <div class="col-md-12 form-group py-3">
                  <label for="id_city" class="form-label"
                    >Población - C.P.</label
                  >
                  <select
                    class="form-select"
                    id="id_city"
                    formControlName="id_city"

                  >
                    <option value="">Seleccione una ciudad...</option>
                    <option *ngFor="let city of cities" [value]="city.id_city">
                      {{ city.city_name }} - {{ city.zip_code }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group py-3">
                  <label for="address" class="label small text-dark"
                    >Dirección</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-lg rounded-0"
                    formControlName="address"
                    id="address"
                    maxlength="500"
                  />
                </div>
              </div>

              <!--CHECK TERMS AND CONDITIONS-->
              <div class="col-md-12 my-5 d-flex justify-content-between">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="term_cond"
                    id="invalidCheck"
                    required
                  />
                  <label class="form-check-label" for="invalidCheck">
                    Aceptar
                    <a
                      class="colorRed"
                      href="/terminos-y-condiciones"
                      target="_blank"
                    >
                      Términos y Condiciones</a
                    >
                  </label>
                  <div
                    *ngIf="
                      contactForm.get('term_cond')?.invalid &&
                      contactForm.get('term_cond')?.touched
                    "
                    class="text-danger"
                  >
                    <small
                      >Debes aceptar nuestros Términos y Condiciones.</small
                    >
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-sm btn-danger rounded-pill px-5"
                  [disabled]="!contactForm.valid"
                >
                  Enviar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
