*:not(i) {
  box-sizing: border-box;

  font-family: "Merriweather", system-ui;
  font-weight: 400;
  font-style: italic;
}

.search-bar {
  position: sticky;
  top: -78px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease;
}

.custom-card-height {
  height: 250px;

}


.h1 {
  font-family: "Merriweather", system-ui;
  font-weight: 520;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  transition: all 0.3s ease; /* Transición suave para los efectos */
}

/* Efecto al pasar el ratón */
.h1:hover {
  color: #000; /* Cambia el color del texto al resaltar (ajusta según tu preferencia) */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); /* Aumenta la sombra del texto */
  /* Aumenta ligeramente el tamaño para resaltar */
}


.input-service-icon {
  padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
  background: url('data:image/svg+xml;utf8,<svg fill="%23888" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zm-5.742 1.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/></svg>') no-repeat 10px center;
  background-size: 22px; /* Tamaño del icono */
}

.input-salon-icon {
  padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
  background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 25 1 L 1 25 L 4 25 L 4 49 L 20 49 L 20 34 L 30 34 L 30 49 L 46 49 L 46 25 L 49 25 Z M 20 20 A 5 5 0 0 1 30 20 L 30 14 L 20 14 Z"></path></svg>') no-repeat 10px center;
  background-size: 22px; /* Tamaño del icono */
}

.input-location-icon {
  padding-left: 40px; /* Ajusta el espacio para que no se solape con el icono */
  background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/></svg>') no-repeat 10px center;
  background-size: 24px; /* Tamaño del icono */
}


.custom-img-height {
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 0px 20px  rgb(99, 99, 99);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-img-height:hover {
  transform: scale(1.05);

}

.custom-img-height2 {
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 0px 10px  rgb(99, 99, 99);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-img-height2:hover {
  transform: scale(1.05);

}

li, a {
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; /* Añade transición para el zoom y el color */
}

/* Efecto de zoom al pasar el ratón */
li:hover, a:hover {
  transform: scale(1.3); /* Aumenta el tamaño al pasar el cursor */
  /* Cambia el color al pasar el ratón, ajusta según tu preferencia */
}
.noTransform{
  li:hover, a:hover {
  transform: scale(1) !important;
  }
}

.card {
  margin: 10px;
  border-radius: 15px;
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-item .row {
  width: 100%;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.separator-line {
  margin: 0 auto;
  width: 55%;
  height: 2px; /* Altura de la línea */
  background-color: #ccc; /* Color de la línea */
  margin: 20px 0; /* Margen superior e inferior de la línea */
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.rating {
  font-size: 1.5rem;
}

.border-bottom-only {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-size: 1rem;
}

app-search-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}



.results-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 300px; /* Ajusta según sea necesario */
  overflow-y: auto;
  z-index: 1100; /* Asegúrate de que esté encima de otros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.results-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-list li {
  padding: 10px;
  cursor: pointer;
}


.results-list li:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

.results-list li svg {
  margin-right: 8px; /* Espacio entre el icono y el texto */
}
.sticky{
  position: sticky;
  top:-200px;
  z-index: 10;
  margin-top: 0px;
}

.container {
  position: relative;
  margin-top: -1rem;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

responsive-text{
  font-size: 0.5rem;
}
.info-link {
  position: absolute;
  bottom: 10px; /* Posiciona el enlace en la parte inferior de la imagen */
  right: 10px; /* Separación del borde derecho */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor legibilidad */
  color: white; /* Color del texto */
  padding: 5px 10px; /* Padding alrededor del texto */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Elimina el subrayado del enlace */
  font-size: 14px; /* Tamaño de fuente */
  z-index: 10; /* Asegura que el enlace esté sobre la imagen */
  display: block; /* Asegura que se muestre como un bloque */
}

.info-link:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro en hover */
}

.hover-list-red:hover{
  background-color: red !important;
}

@media (max-width: 576px) {
  .d-flex {
    flex-direction: row !important;
  }

  .h1PhoneTop{
    margin-top: 20px !important ;
  }

  .zoom-element {
    transition: transform 0.3s ease !important; /* Transición suave */
  }

  .in-view {
    transform: scale(1.05) !important; /* Ajusta el valor de scale según la ampliación deseada */
  }

  .input-service-icon {
    padding-left: 40px !important; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zm-5.742 1.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/></svg>') no-repeat 10px center;
    background-size: 22px; /* Tamaño del icono */
  }

  .input-salon-icon {
    padding-left: 40px !important; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 25 1 L 1 25 L 4 25 L 4 49 L 20 49 L 20 34 L 30 34 L 30 49 L 46 49 L 46 25 L 49 25 Z M 20 20 A 5 5 0 0 1 30 20 L 30 14 L 20 14 Z"></path></svg>') no-repeat 10px center;
    background-size: 22px; /* Tamaño del icono */
  }

  .input-location-icon {
    padding-left: 40px !important; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/></svg>') no-repeat 10px center;
    background-size: 24px; /* Tamaño del icono */
  }

  .loginMT{
    margin-top: 1.5rem !important;
  }


.video-background{
  height: 370px !important;
}

  .btnLogin{
    padding: 0.25rem 0.5rem !important;
    font-size: 0.75rem !important;
  }
  .d-flex img {
    width: auto ;
    margin-top: 12px;
    max-width: 200px; /* Ajustar el tamaño del logo */
  }
  h4{
    font-size: 1rem;
  }
  p{
    font-size: 1rem;
  }

li,a{
  font-size: 1rem;
}

.btn-small {
  font-size: 0.75rem !important; /* Tamaño de fuente más pequeño */
  padding: 0.25rem 0.5rem !important; /* Reducir el padding */
  line-height: 1.2 !important; /* Ajustar la altura de línea */
}

  .btnLogin i {
    font-size: 0.75rem;
  }

  .container {
    margin-top: -2rem;
  }

  .sticky {
    margin: 0;
    padding: 0;
    top: -125px; /* Ajuste para que el elemento sticky funcione correctamente */
    margin-top: 0px;

  }

  nav,section,h1{
    font-size: 1.4rem;
  }

  p{
    font-size: 0.5rem;
  }



  .h1{
    margin-top: -20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .card-search {
    width: 100%; /* Aumenta el ancho a todo el disponible */
    max-width: 100%; /* Asegura que ocupe todo el ancho en pantallas pequeñas */
    margin: 0 auto; /* Centra el buscador horizontalmente */
    margin-top: -21px;
  }

  /* Reducir el alto del contenedor del buscador */
  .card-search .card-body {
    padding: 0.5rem 1rem; /* Reduce el padding interno para hacer el contenedor más pequeño */
  }

  /* Ajustar inputs del buscador */
  .card-search .form-control-lg {
    height: 2rem; /* Reduce la altura de los inputs */
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
    padding: 0.25rem 0.5rem; /* Reduce el padding interno */
  }

  /* Ajustar el botón de búsqueda */
  .card-search .btn {
    height: 2.5rem; /* Reduce la altura del botón */
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
    padding: 0.25rem 1rem; /* Ajusta el padding interno */
  }

  .tResponsive{
    visibility: hidden;
  }

  .custom-card-height {
    height: 150px; /* Reduce la altura de las tarjetas en pantallas pequeñas */
  }

  .custom-img-height {
    height: 150px; /* Reduce la altura de las imágenes en pantallas pequeñas */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
  }

  h2{
    font-size: 1rem;
  }
}



/* Margen superior para pantallas entre 576px y 1400px */
@media (min-width: 576px) and (max-width: 1400px) {
  .container {
    margin-top: 0rem;
  }



  .input-service-icon {
    padding-left: 40px !important; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zm-5.742 1.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/></svg>') no-repeat 10px center;
    background-size: 22px; /* Tamaño del icono */
  }

  .input-salon-icon {
    padding-left: 40px !important; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 25 1 L 1 25 L 4 25 L 4 49 L 20 49 L 20 34 L 30 34 L 30 49 L 46 49 L 46 25 L 49 25 Z M 20 20 A 5 5 0 0 1 30 20 L 30 14 L 20 14 Z"></path></svg>') no-repeat 10px center;
    background-size: 22px; /* Tamaño del icono */
  }

  .input-location-icon {
    padding-left: 40px !important; /* Ajusta el espacio para que no se solape con el icono */
    background: url('data:image/svg+xml;utf8,<svg fill="%23888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/></svg>') no-repeat 10px center;
    background-size: 24px; /* Tamaño del icono */
  }

}
