<div class="wrapper">
  <app-navbar-fixed></app-navbar-fixed>
  <div class="content">
    <div class="container bg-light mt-5" id="faq">
      <p class="h1 text-center mt-3 colorRed">Preguntas frecuentes</p>
      <div class="row mt-5">
        <div class="col-lg-10 col-md-12 col-sm-12 col-x-12 mx-auto text-center mb-5">
          <details>
            <summary class="h4 mb-5">Cuestion Principal 1: ¿Cómo funciona Mispeluquerias?</summary>
            <p><strong>This is the first item's answer.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that, though the transition does limit overflow.</p>
          </details>

          <details>
            <summary class="h4 mb-5">Cuestion Principal 2: ¿Cómo funciona Mispeluquerias?</summary>
            <p><strong>This is the second item's answer.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that, though the transition does limit overflow.</p>
          </details>

          <details>
            <summary class="h4 mb-5">Cuestion Principal 3: ¿Cómo funciona Mispeluquerias?</summary>
            <p><strong>This is the third item's answer.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that, though the transition does limit overflow.</p>
          </details>

          <details>
            <summary class="h4 mb-5">Cuestion Principal 4: ¿Cómo funciona Mispeluquerias?</summary>
            <p><strong>This is the fourth item's answer.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These clases control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that, though the transition does limit overflow.</p>
          </details>

          <details>
            <summary class="h4 mb-5">Cuestion Principal 5: ¿Cómo funciona Mispeluquerias?</summary>
            <p><strong>This is the fifth item's answer.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These clases control the overall appearance, as well as the showing and hiding via CSS transitions. You can modificar any of this with custom CSS or overriding our default variables. It's also worth noting that, though the transition does limit overflow.</p>
          </details>

          <details>
            <summary class="h4 mb-5">Cuestion Principal 6: ¿Cómo funciona Mispeluquerias?</summary>
            <p><strong>This is the sixth item's answer.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These clases control the overall appearance, as well as the showing and hiding via CSS transitions. You can modificar any of this with custom CSS or overriding our default variables. It's also worth noting that, though the transition does limit overflow.</p>
          </details>

          <div class="container mt-3 rounded box-not-found-question">
            <div>
              <h6 class="h4 text-left">¿No has encontrado la respuesta?</h6>
              <a class="text-left" href="/contacto" title="Contacto">Ponte en contacto con nosotros</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
