<div class="wrapper">
  <app-navbar-fixed></app-navbar-fixed>

  <div class="content container-fluid">
    <div class="row">
      <div id="results" class="col-md-6 d-flex flex-column">
        <h5>Resultados de Búsqueda</h5>
        <div *ngIf="paginatedMarkers.length === 0">
          <p>No hay resultados en esta área.</p>
        </div>
        <div class="card-container" *ngIf="paginatedMarkers.length > 0">
          <div class="card" *ngFor="let marker of paginatedMarkers; let i = index" (click)="onCardClick(marker)" [class.selected]="selectedMarker === marker">
            <div class="card-image">
              <img *ngIf="marker.images && marker.images.length > 0; else defaultImage" [src]="marker.images[0].file_url" [alt]="marker.name">
              <ng-template #defaultImage>
                <img [src]="marker.image || '../../../assets/img/web/sello.jpg'" [alt]="marker.name"
                    [ngStyle]="{
                    display: 'block',
                    margin: marker.image ? '0' : '0 auto',
                    height: marker.image ? 'auto' : '1o%',
                    width: marker.image ? '100%' : 'auto',
                   'object-fit': marker.image ? 'cover' : 'contain'
                  }"/>
              </ng-template>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{marker.name}}</h5>
              <p class="card-text">{{marker.address}}</p>
              <p class="card-status" [class.closed]="marker.status === 'Cerrado'">{{marker.status}}</p>
              <a (click)="viewDetails(marker.id_salon); $event.stopPropagation()">+info</a>
            </div>
            <div class="card-favorite">
              <i class="fa fa-heart"></i>
            </div>
          </div>
        </div>
        <div class="pagination-wrapper">
          <div class="pagination" *ngIf="totalPages.length > 1">
            <button (click)="goToPreviousPage()" [disabled]="currentPage === 1"><</button>
            <div class="pagination-info mt-2">
              Página {{ currentPage }} de {{ totalPages.length }}
            </div>
            <button (click)="goToNextPage()" [disabled]="currentPage === totalPages.length">></button>
          </div>
          <h6 class="text-center mt-3" *ngIf="totalCards > 0">Hemos encontrado {{ totalCards }} resultados para ti.</h6>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column">
        <div class="map-frame flex-grow-1 position-relative">
          <div id="map" class="map-content"></div>
          <div id="loading-spinner" class="loading-spinner" *ngIf="isLoading"></div>
          <div id="map-cover" class="map-cover" *ngIf="isMapLoading"></div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
