<app-navbar-fixed ></app-navbar-fixed>
<div class="container bg-light">
        <p class=" h1 text-center mt-5 colorRed ">Términos y Condiciones</p>
        <p class=" h2 col-11 text-left mt-3 mx-auto text-decoration-underline">Previo</p>
        <p class="col-11 text-justify m-auto mt-3">Las presentes condiciones generales son de aplicación a los servicios ofertados por <strong>Mis Peluquerías S.L.</strong> realizadas a través de la presente web <strong>www.mispeluquerias.com</strong>.</p>

        <p class="col-11 text-justify m-auto mt-3">Han sido elaboradas de conformidad con lo establecido en el Texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras normas complementarias, la Ley <strong>34/2002</strong>, de Servicios de la Sociedad de la Información y Comercio Electrónico y la Ley <strong>7/1998</strong> sobre Condiciones Generales de Contratación, y cuantas disposiciones legales autonómicas o estatales resulten de aplicación.</p>

        <p class="col-11 text-justify m-auto mt-3">Las presentes condiciones generales de contratación se han redactado en castellano.</p>

        <p class="col-11 text-justify m-auto mt-3">El presente documento regulará la contratación de los productos y servicios adquiridos en la página web <strong>www.mispeluquerias.com</strong> cuya propiedad pertenece a la empresa <strong>Mis Peluquerías S.L</strong>.</p>

        <p class="col-11 text-justify m-auto mt-3">La aceptación del presente documento implica que el comprador manifiesta:</p>

        <div class="col-11  mx-auto mt-3">
            <ol type="a">
                <li>Que es una persona con capacidad suficiente para contratar.</li>
                <li>Que ha leído, entiende y comprende las condiciones de contratación que aquí se detallan.</li>
                <li>Que acepta las obligaciones aquí establecidas.</li>
            </ol>
        </div>

        <p class="col-11 text-justify m-auto mt-3"><strong>Mis Peluquerías S.L.</strong> se reserva el derecho de modificar unilateralmente las presentes condiciones, sin que ello implique afectar a las adquisiciones de bienes y/o servicios efectuados con anterioridad a la modificación.</p>

        <!--Point 1 -->
        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline" text-decoration-underline>Identificación de las partes</p>
            <p>De una parte, <strong>Mis Peluquerías S.L.</strong> con CIF N.º <strong>B67780023</strong> con domicilio en <strong>C/ Almería 16, El Parador de las Hortichuelas 04720, Roquetas de Mar, Almería</strong>, inscrita en el Registro Mercantil de Almería <strong>Tomo 2158 Folio 177</strong>, inscripción 1 con hoja <strong>AL-54182</strong>, con teléfono de atención al cliente en el siguiente número gratuito <strong>950584765</strong>.</p>

            <p>Y de otra, el <strong>USUARIO</strong>, registrado en el sitio web mediante su propio nombre de usuario y contraseña, sobre los que tiene responsabilidad plena de uso y custodia, siendo responsable de la veracidad de todos los datos y manifestaciones facilitados a <strong>Mis Peluquerías S.L.</strong></p>
        </div>

        <!--Point 2 -->
        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Objeto del Contrato</p>
            <p>El presente acuerdo contractual tiene por objeto la regulación de las condiciones contractuales de compraventa entre <strong>Mis Peluquerías S.L.</strong> y el <strong>USUARIO</strong> en el momento en que este último acepta durante el proceso de contratación online la casilla correspondiente.</p>

            <p>La contratación del servicio de reserva de peluquería conlleva la obligación de <strong>Mis Peluquerías S.L.</strong> de que el servicio contratado se prestará conforme a lo establecido, obligándose el <strong>USUARIO</strong> a abonar el precio del producto públicamente expuesto a través del señalado sitio web, y a hacer un uso del mismo conforme a la ley y a las presentes condiciones.</p>
        </div>

        <!--Point 3 -->
        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Procedimiento de la Contratación</p>
            <p>El <strong>USUARIO</strong> deberá, para poder contratar un servicio de peluquería durante su primer pedido, abrir una cuenta de cliente y proporcionar y cumplimentar los campos obligatorios señalados por <strong>Mis Peluquerías S.L.</strong></p>

            <p>El <strong>USUARIO</strong> seleccionará un nombre de usuario y una contraseña, asumiendo un compromiso de hacer un uso diligente de los mismos. </p>

            <p>Una vez creada la cuenta de usuario, se informa que de conformidad con lo dispuesto en el <strong>artículo 27 de la Ley 34/2002</strong> de Servicios de la Sociedad de la Información y del Comercio Electrónico, el procedimiento de contratación seguirá los siguientes pasos: </p>

            <ul>
                <li>Selecciona el centro de peluquería en el que deseas reservar la cita desde el buscador.</li>
                <li>Selecciona el servicio contratado.</li>
                <li>Selecciona fecha y hora para la prestación del servicio.</li>
                <li>Haz clic en el botón <strong>"Continuar".</strong></li>
            </ul>

            <p>En cualquier caso, se informará por correo electrónico al <strong>USUARIO</strong> por parte de <strong>Mis Peluquerías S.L.</strong>, una vez cerrado el procedimiento de contratación, de las características, precio, fecha de contratación y fecha de prestación del servicio contratado. </p>
        </div>

        <!--Point 4 -->
        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Prestación se Servicios</p>
            <p>Los servicios contratados serán de responsabilidad exclusiva de las peluquerías que ofrezcan sus trabajos a través de la presente web. </p>

            <p> <strong>Mis Peluquerías S.L.</strong> facilitará a sus usuarios los datos necesarios para enviar una reclamación, incluyendo una dirección de correo electrónico. </p>

            <p>Las reclamaciones relativas a los servicios de peluquería contratados serán responsabilidad de las peluquerías que hayan prestado el servicio. </p>
        </div>

        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Precios e impuestos</p>
            <p>El precio de los productos ofertados en la página de Internet <strong>mispeluquerias.com</strong> están señalados en euros <strong>(€)</strong>, incluyendo el Impuesto sobre el Valor Añadido <strong>(IVA)</strong> que, en su caso, sea procedente aplicar. </p>

            <p>Las transacciones que vayan a ser entregadas dentro del territorio de los estados miembros de la Unión Europea estarán sujetas a <strong>IVA</strong>. </p>

            <p>Las compras que deban ser entregadas en territorios de Estados no miembros de la <strong>Unión Europea</strong>, o en <strong>Canarias</strong>, <strong>Ceuta</strong> o <strong>Melilla</strong> estarán exentos de <strong>IVA</strong>. </p>
        </div>

        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Condiciones de Cancelación</p>
            <p>El <strong>USUARIO</strong> puede cancelar su reserva hasta 24 horas de la cita. Si has pagado online, se desembolsará el precio del servicio por el método de pago utilizado</p>
        </div>


        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Facturación y Forma de Pago</p>
            <p>Todo pago efectuado en <strong>Mis Peluquerías S.L.</strong> dará lugar a la emisión de una factura a nombre del <strong>USUARIO</strong> registrado en la página web. </p>

            <p>La factura será automáticamente enviada a la dirección de correo electrónico facilitada por el <strong>USUARIO</strong>.</p>

            <p>El pago del producto adquirido se podrá realizar mediante tarjeta bancaria.</p>

            <p>El <strong>VENDEDOR</strong> manifiesta que la web <strong>mispeluquerias.com</strong> utiliza tecnología de cifrado certificada, para proteger los datos del <strong>USUARIO</strong> del acceso no autorizado de terceras personas. Los datos de la tarjeta de crédito y del pedido se transmiten cifrados, con procedimientos xxxxx. Toda la información personal se trata de forma confidencial.</p>
        </div>

        <div class="col-11 mx-auto mt-5 ">
            <p class="h2 text-decoration-underline">Atención al Cliente</p>
            <p>Para realizar cualquier consulta sobre tu reserva puedes contactar con nuestro servicio de atención al cliente:</p>

            <p>Teléfono: <strong>950584765</strong> (gratis desde teléfonos fijos) en horario de <strong>lunes</strong> a <strong>viernes</strong> de <strong>10:00</strong> a <strong>14:00</strong>.</p>

            <p>Correo electrónico: escríbenos a <a class="colorRed" href="mailto:atencionalcliente@mispeluquerias.com"><strong>hola&#64;mispeluquerias.com</strong></a></p>
        </div>

        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Plataforma de Resolución de Litigios en Línea</p>
            <p>Los consumidores podrán plantear sus reclamaciones a través de la plataforma de resolución de litigios en línea de la Comisión Europea, disponible <a href="https://ec.europa.eu/consumers/odr/" target="_blank" class="colorRed"><strong>aquí</strong></a> </p>
        </div>

        <div class="col-11 mx-auto mt-5">
            <p class="h2 text-decoration-underline">Legislación Aplicable y Competencia Judicial</p>
            <p>Las presentes condiciones generales se regirán conforme a la legislación española en aquello que no esté expresamente establecido. El <strong>VENDEDOR</strong> y el <strong>USUARIO</strong>, acuerdan someter cualquier controversia que pudiera originarse de la transacción objeto de estas condiciones, a los Juzgados y Tribunales del domicilio del <strong>USUARIO</strong>. </p>

            <p>En el supuesto de que el <strong>USUARIO</strong> tenga su domicilio fuera de España, el <strong>VENDEDOR</strong> y el <strong>USUARIO</strong> renuncian expresamente a cualquier otra jurisdicción, sometiéndose a los Juzgados y Tribunales de la ciudad de Almería (España)</p>

            <p>En el caso de que el cumplimiento de este Contrato suponga la necesidad de acceder a datos de carácter personal, como encargados del tratamiento, quedamos obligados al cumplimiento de la LO <strong>3/2018</strong>, de 5 diciembre, de Protección de Datos Personales y Garantía de los Derechos Digitales y del Real Decreto <strong>1720/2007</strong>, de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica <strong>15/1999</strong> y demás normativa aplicable. </p>
        </div>
    </div>
<app-footer></app-footer>
