/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
  max-width: 300px; /* Ajusta según tus necesidades */
  text-align: center; /* Centra el texto dentro del toastr */
  color: #000; /* Color del texto */
  border-radius: 8px; /* Bordes redondeados */
  padding: 16px; /* Relleno interno */
   /* Sombra */
}

.toast-center-center .toast-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

