.colorRed a {
  color: #B91622;
  text-decoration: none;
}

.colorRed {
  color: #B91622;
  text-decoration: none;
}
app-navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px; /* Ajusta esta altura según la altura de tu navbar */
  z-index: 0; /* Asegúrate de que el z-index esté correcto */
}

.container {
  margin-top: 40px; /* Ajusta esta altura para que coincida con la altura del navbar */
  padding: 1em;
  z-index: 1; /* Asegúrate de que el z-index esté correcto */
}
